<p>Hello <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada devido a um número excessivo de LOGIN sem sucesso nas tentativas.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'desbloquear minha conta', unlock_url(@resource, :unlock_token => @token) %></p>
